.main{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.item{
    width: 20%;
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: red;
}
.counter_item .counter{
    font-size: 30px;
    color: azure;
}
.counter_item h1{
    color: aliceblue;
}